 /* all common css start   */
 * {
     margin: 0;
     padding: 0;
     outline: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
 }

 a,
 a:hover {
     text-decoration: none;
     display: inline-block;
 }

 ul,
 ol {
     list-style-type: none;
     padding-left: 0;
     padding-top: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
     padding: 0;
     line-height: 0.8;
 }

 /* all common css end   */

 /* nav bar part start  */

 .nav-item {
     font-size: 20px;
     font-weight: 500;
     color: #1D293F;
     padding: 0 25px;
     transition: .4s;
 }

 .navbarBTN ul li {
     display: inline-block;
 }

 .navbarbtn1 {
     color: #1D293F;
     font-size: 20px;
     font-weight: 400;
     padding-right: 35px;
 }

 .navbarbtn2 {
     padding: 15px 25px;
     background-color: #28B0A6;
     border-radius: 30px;
     color: #FFFFFF;
     font-size: 20px;
     font-weight: 400;
     transition: .4s;
 }

 .nav-link:hover {
     color: #28B0A6;
 }

 .navbar {
     padding-top: 20px;
     padding-bottom: 45px;
 }

 .navbar-brand {
     padding-top: 0;
 }

 .navbar-nav {
     padding-left: 60px;
 }

 .navbarbtn2:hover {
     color: #28B0A6;
     background-color: #fff;
 }

 /* nav bar part end  */

 /* Body image part start*/
 .bodyimg {
     background: url(../css/images/BG\ Banner.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     border-radius: 30px;
 }

 .bodyoverly {
     padding-top: 120px;
     padding-bottom: 90px;
     background-color: hsla(0, 0%, 0%, 0);
 }

 .bodyimgwrite {
     padding-left: 130px;
     position: relative;
 }

 .bodyimgwrite h3 {
     font-size: 20px;
     font-weight: 400;
     color: #fff;
     padding-left: 45px;
 }

 .bodyimgwrite h3::before {
     height: 2px;
     width: 25px;
     position: absolute;
     top: 7px;
     left: 136px;
     content: "";
     background-color: white;
 }

 .bodyimgwrite h1 {
     padding-top: 70px;
     font-size: 95px;
     font-weight: 700;
     color: #fff;
 }

 .leftpart {
     padding-top: 60px;
 }

 .leftpart h4 {
     font-size: 24px;
     font-weight: 500;
     color: #fff;
 }

 .leftflex {
     display: flex;
     padding-top: 40px;
 }

 .rowflex1 {
     padding-right: 10px;
 }

 .rowflex1 i {
     border: 2px solid white;
     padding: 15px 15px;
     border-radius: 50%;
     font-size: 20px;
     color: #fff;
 }

 .rowflex2 i {
     border: 2px solid white;
     padding: 15px 15px;
     border-radius: 50%;
     font-size: 20px;
     color: #fff;
 }

 .rightPart {
     padding-top: 60px;
 }

 .rightflex {
     display: flex;
 }

 .rightflex1 i {
     padding: 15px 15px;
     border-radius: 50%;
     background-color: #fff;
     transition: .4s;
 }

 .rightflex1 i:hover {
     background-color: #28B0A6;
     color: #fff;
 }

 .rightflex2 h3 {
     font-size: 20px;
     font-weight: 400;
     color: #FFFFFF;
     padding-left: 10px;
     padding-right: 94px;
     line-height: 30px;
 }

 .rightflex2 {
     padding-left: 10px;
 }

 .rightflex2 a {
     padding-top: 20px;
     font-size: 24px;
     font-weight: 700;
     color: #FFFFFF;
     border-bottom: 1px solid white;
     transition: .4s;
 }

 .rightflex2 a:hover {
     color: #28B0A6;
     border-bottom: 1px solid #28B0A6;

 }

 .lowerside {
     padding-top: 50px;
     position: relative;
 }

 .backgrouund {
     width: 90%;
     padding: 60px 52px;
     position: absolute;
     background-color: white;
     border-radius: 30px;
     transition: .4s;
 }

 .background1 h4 {
     color: #212529;
     font-size: 28px;
     font-weight: 600;
     z-index: 111;
 }

 .background1 {
     position: absolute;
 }

 .background1 h4::before {
     position: absolute;
     width: 100%;
     height: 5px;
     background-color: hsla(37, 91%, 55%, 0.671);
     top: 18px;
     left: 0;
     content: "";
     z-index: 1;

 }

 .bcgflex {
     display: flex;
     padding-top: 30px;
 }

 .bcgflex1 h3 {
     color: #99A3AD;
     font-size: 18px;
     font-weight: 400;
     padding-top: 20px;
     padding-left: 0;
     border-bottom: 1px solid #99A3AD;
 }

 .bcgflex2 i {
     padding-top: 20px;
     padding-left: 30px;
     color: #000000;
 }

 .background1 a {
     padding: 25px 30px;
     border-radius: 10px;
     background-color: #28B0A6;
     color: #FFFFFF;
     font-size: 23px;
     transition: .4s;
 }

 .background1 a:hover {
     background-color: #1D293F;
     color: #28B0A6;
 }

 .backgrouund:hover {
     -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
 }

 /* Body image part end */


 /* category part start */

 .categoryItem {
     padding-top: 220px;
 }

 .categoryItem h1 {
     font-size: 40px;
     font-weight: 700;
     color: #000000;
 }

 .categoryItem p {
     padding-top: 25px;
     font-size: 20px;
     font-weight: 400;
     color: #546179;
     padding-bottom: 60px;
 }


 .activityPadding {
     border-radius: 15px;
     background-color: #fff;
     transition: .4s;
     padding: 30px;
 }

 .ActivityPart h5 {
     background-color: #FEF2DE;
     border-radius: 15px;
     display: inline-block;
     padding: 5px 10px;
     margin-left: 200px;
     color: #F5A623;
     margin-top: 30px;
 }



 .activityIMG {
     padding-top: 30px;
 }

 .activityIMG h4 {
     font-size: 24px;
     font-weight: 500;
     color: #000000;
     padding-top: 15px;
 }

 .activityIMG h3 {
     font-size: 16px;
     font-weight: 400;
     color: #99A3AD;
     padding-top: 30px;

 }

 .activityPadding:hover {
     -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
 }

 .categoryItem2 {
     padding-top: 220px;
     display: flex;

 }

 .rowflex3 {
     padding-right: 10px;
 }

 .rowflex3 i {
     border: 2px solid #546179;
     padding: 18px 18px;
     border-radius: 50%;
     font-size: 20px;
     color: #546179;
 }

 .rowflex4 i {

     padding: 18px 18px;
     border-radius: 50%;
     font-size: 20px;
     color: #546179;
     background-color: #28B0A6;
 }

 /* category part end */

 /* trending part start */

 .trendingpart {
     padding: 15px;
 }

 .trendingItem {
     padding: 10px 10px 12px 12px;
     background-color: white;
     border-radius: 15px;
     overflow: hidden;
     transition: .4s;

 }

 .trendingimg img {
     border-radius: 10px;
     width: 100%;
     height: 100%;
 }

 .trendingimg {
     position: relative;
 }

 .trendingOverly {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: hwb(0 0% 100% / 0);
     position: absolute;
 }

 .badge p {
     margin-left: 300px;
     margin-top: 30px;
     padding: 10px 10px;
     background-color: #F9C7D2;
     color: #EE5879;
     border-radius: 15px;
     font-weight: 500;
     visibility: hidden;
     opacity: 0;
     transition: .4s;

 }

 .trendingWrite {
     padding-top: 35px;
     padding-left: 15px;
     display: flex;
 }

 .trendingFlex1 h4 {
     font-size: 24px;
     font-weight: 600;
     color: #000000;
 }

 .trendingFlex1 h5 {
     font-size: 16px;
     font-weight: 400;
     color: #99A3AD;
     padding-top: 20px;
 }

 .trendingFlex2 {
     margin-left: 75px;
 }

 .trendingFlex2 i {
     color: #546179;
     font-size: 30px;
     font-weight: 400;
 }

 .trendingFlex200 {
     margin-left: 100px;
 }

 .trendingFlex200 i {
     color: #546179;
     font-size: 30px;
     font-weight: 400;
 }


 .fromFlex {
     display: flex;
     padding-top: 40px;
     padding-left: 15px;
 }

 .fromflex1 h5 {
     font-size: 14px;
     font-weight: 400;
     color: #546179;
 }

 .fromflex1 p {
     color: #1D293F;
     font-size: 32px;
     font-weight: 600;
     padding-top: 20px;
 }

 .fromflex1 {
     position: relative;
 }

 .fromflex1 p::before {
     position: absolute;
     top: 51px;
     left: 0;
     height: 5px;
     width: 100%;
     background-color: hsla(37, 91%, 55%, 0.521);
     content: "";
 }

 .fromflex1 h4 {
     color: #546179;
     font-size: 14px;
     font-weight: 400;
     padding-top: 20px;
 }

 .fromflex2 {
     padding-left: 134px;
     padding-top: 10px;
 }

 .fromflex2 i {
     color: #F5A623;
     font-size: 12px;
 }

 .fromflex2 h3 {
     color: #546179;
     font-size: 14px;
     font-weight: 400;
     padding-top: 10px;
     padding-left: 20px;
 }

 .watchFlex {
     display: flex;
     padding-top: 50px;
     padding-left: 15px;
 }

 .watchFlex2 h4 {
     color: #546179;
     font-size: 16px;
     font-weight: 500;
     padding-top: 6px;
     padding-left: 10px;
 }

 .watchFlex1 i {
     color: #28B0A6;
 }

 .checkFlex {
     display: flex;
     padding-left: 15px;
 }

 .checkflex1 {
     display: flex;

 }

 .check2 h3 {
     color: #546179;
     font-size: 16px;
     font-weight: 400;
     padding-left: 7px;
     padding-top: 5px;
 }

 .check1 i {
     color: #28B0A6;
 }

 .check3 h3 {
     color: #546179;
     font-size: 16px;
     font-weight: 400;
     padding-left: 7px;
     margin-top: 5px;
 }

 .check4 i {
     margin-left: 27px;
     color: #28B0A6;
 }

 .trendingItem:hover {
     -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
 }

 .trendingItem:hover .badge p {
     visibility: visible;
     opacity: 11;
 }

 /* trending part end */

 /* destination part start  */

 #destinationPart {
     padding-bottom: 0px;
 }

 .categoryItem10 h3 {
     padding-top: 25px;
     font-size: 20px;
     font-weight: 400;
     color: #546179;
     padding-bottom: 60px;

 }

 .categoryItem10 h2 {
     font-size: 40px;
     font-weight: 700;
     color: #000000;
 }

 .categoryItem10 {
     padding-top: 100px;
 }

 .categoryItem15 {
     display: flex;
     padding-top: 100px;
 }

 .destinationimg1 {
     height: 300px;
     width: 300px;
     position: relative;
     margin-top: 20px;
     transition: 0.4s;
 }

 .destinationimg1 img {
     height: 100%;
     width: 100%;
     border-radius: 30px;


 }

 .destioverly {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     content: "";
     background-color: hsla(0, 0%, 0%, 0);
     visibility: hidden;
     opacity: 1111;
 }

 .badge5 p {
     padding: 15px 20px;
     border-radius: 30px;
     background-color: #FEF2DE;
     color: #F5A623;
     display: inline-block;
     margin-top: 20px;
     margin-left: 20px;
 }

 .destioverly h3 {
     font-size: 24px;
     font-weight: 500;
     color: #FFFFFF;
     margin-top: 150px;
     margin-left: 20px;
 }

 .destioverly h5 {
     font-size: 16px;
     font-weight: 400;
     color: #FFFFFF;
     padding-top: 15px;
     padding-left: 22px;

 }

 .destinationimg1:hover .destioverly {
     visibility: visible;
     opacity: 11111;
 }

 .destinIMG5 {
     height: 622px;
     width: 415px;
     margin-top: 20px;
     position: relative;
 }

 .destinIMG5 img {
     height: 100%;
     width: 100%;
 }

 .destinIMG5:hover .destioverly {
     visibility: visible;
     opacity: 111111;
 }

 .destinationWarp h3 {
     font-size: 24px;
     font-weight: 500;
     color: #FFFFFF;
     margin-top: 475px;
     margin-left: 20px;
 }

 .destinationWarp h5 {
     font-size: 16px;
     font-weight: 400;
     color: #FFFFFF;
     padding-top: 15px;
     padding-left: 22px;
 }

 .destinationIMG30 {
     height: 335px;
     width: 525px;
     margin-top: 20px;
     position: relative;
 }

 .destinationIMG30 img {
     height: 100%;
     width: 100%;
 }

 .destinationIMG30:hover .destioverly {
     visibility: visible;
     opacity: 111111;
 }

 .destaniTransition h3 {
     font-size: 24px;
     font-weight: 500;
     color: #FFFFFF;
     margin-top: 190px;
     margin-left: 20px;

 }

 .destaniTransition h5 {
     font-size: 16px;
     font-weight: 400;
     color: #FFFFFF;
     padding-top: 20px;
     padding-left: 22px;
 }

 .destinationFlex {
     display: flex;
     margin-top: 20px;


 }

 .destinationFLex1 {
     height: 270px;
     width: 220px;
     position: relative;

 }

 .destinationFLex1 img {
     height: 100%;
     width: 100%;

 }

 .destinationFLex1:hover .destioverly {
     visibility: visible;
     opacity: 111111111;
 }

 .desteni2nd h3 {
     font-size: 24px;
     font-weight: 500;
     color: #FFFFFF;
     margin-top: 125px;
     margin-left: 20px;
 }

 .desteni2nd h5 {
     font-size: 16px;
     font-weight: 400;
     color: #FFFFFF;
     padding-top: 17px;
     padding-left: 22px;
 }

 .destinationFLex2 {
     padding-left: 20px;
     height: 270px;
     width: 307px;
 }

 .destinationFLex2 img {
     height: 100%;
     width: 100%;
 }

 .desteni3rd h3 {
     font-size: 24px;
     font-weight: 500;
     color: #FFFFFF;
     margin-top: 125px;
     margin-left: 40px;

 }

 .desteni3rd h5 {
     font-size: 16px;
     font-weight: 400;
     color: #FFFFFF;
     padding-top: 17px;
     padding-left: 42px;
 }

 .badge10 p {
     padding: 15px 20px;
     border-radius: 30px;
     background-color: #FEF2DE;
     color: #F5A623;
     display: inline-block;
     margin-top: 20px;
     margin-left: 40px;
 }




 /* destination part end  */


 #sellerPart {
     padding-bottom: 0;
 }

 .categoryItem16 a {
     padding: 20px 30px;
     border-radius: 33px;
     background-color: #28B0A6;
     color: #FFFFFF;
     transition: .4s;
 }

 .categoryItem16 {
     padding-top: 100px;
 }

 .categoryItem16 a:hover {
     background-color: #FFFFFF;
     color: #28B0A6;
 }

 .sellerimg {
     padding: 10px;
     overflow: hidden;
     height: 270px;
     width: 400px;
     position: relative;
 }

 .sellerimg img {
     width: 100%;
     height: 100%;
 }

 .selleroverly {
     position: absolute;
     top: 0;
     left: 0;
     background-color: hsla(0, 0%, 0%, 0);
     width: 100%;
     height: 100%;
     visibility: hidden;
     opacity: 0;
     transition: .4s;
 }

 .selleritem {
     padding: 23% 30px 0;
 }

 .selleritem h3 {
     color: #FFFFFF;
     font-size: 18px;
     font-weight: 400;
 }

 .sellerflex {
     display: flex;

 }

 .sellerflex1 h4 {
     font-size: 32px;
     font-weight: 600;
     color: #FFFFFF;
     border-bottom: 3px solid white;
     padding-top: 20px;
 }

 .sellerflex2 {
     display: flex;
     padding-left: 37px;
     padding-top: 10px;
 }

 .sellerflex3 i {
     color: black;
     border: 1px solid white;
     padding: 15px;
     border-radius: 50%;
     background-color: white;
 }

 .sellerflex4 {
     padding-left: 20px;
 }

 .sellerflex4 a {
     padding: 10px 25px;
     border-radius: 26px;
     background-color: #28B0A6;
     color: #FFFFFF;
     margin-top: 5px;
 }

 .sellerwrite {
     padding-top: 20px;
 }

 .sellerwrite h3 {
     color: #1D293F;
     font-size: 24px;
     font-weight: 500;
     padding-bottom: 20px;
 }

 .sellerwrite p {
     color: #99A3AD;
     font-size: 16PX;
     font-weight: 400;
     line-height: 24px;
 }

 .sellerimg:hover .selleroverly {
     visibility: visible;
     opacity: 1;
 }

 .sellerimg:hover .badge p {
     visibility: visible;
     opacity: 1;

 }

 /* guide part start */
 #guidePart {
     padding-bottom: 136px;
 }

 .guidePartItem {
     height: 500px;
     width: 336px;

 }

 .guidePartItem img {
     height: 100%;
     width: 100%;
     border-radius: 40px;

 }



 .guideWritePart h4 {
     font-size: 24px;
     font-weight: 400;
     color: #28B0A6;
     padding-top: 40px;
 }

 .guideWritePart h1 {
     font-size: 40px;
     font-weight: 500;
     color: #1D293F;
     padding-top: 30px;
 }

 .guideWritePart h2 {
     font-size: 40px;
     font-weight: 500;
     color: #1D293F;
     padding-top: 20px;
 }

 .partFlex {
     display: flex;
     padding-top: 70px;
 }

 .gideflex1 h3 {
     font-size: 24px;
     font-weight: 400;
     color: #000000;
     padding-bottom: 20px;
 }

 .gideflex1 p {
     font-size: 16px;
     font-weight: 400;
     color: hsla(0, 0%, 0%, 0.493);
     line-height: 25px;
     padding-right: 26px;
     display: block;
 }

 .gideflex2 h3 {
     font-size: 24px;
     font-weight: 400;
     color: #000000;
     padding-bottom: 20px;
 }

 .gideflex2 p {
     font-size: 16px;
     font-weight: 400;
     color: hsla(0, 0%, 0%, 0.493);
     line-height: 25px;
     padding-right: 26px;
     display: block;

 }

 .guideflex2 {
     display: flex;
     padding-top: 105px;
 }

 .facebook h3 {
     font-size: 18px;
     font-weight: 400;
     color: #000000;
     padding: 0 25px 0 0;
 }

 /* guide part end  */
 /* footer part start */
 #footerPart {
     padding-bottom: 150px;
 }

 .footeritem {
     padding-top: 87px;
     padding-bottom: 54px;
     width: 100%;
     background-color: #28B0A6;
     border-radius: 20px;
     transition: .4s;
 }

 .footeritemPart h1 {
     font-size: 56px;
     font-weight: 500;
     color: #FFFFFF;
     line-height: 70px;
 }

 .footeritemPart h4 {
     font-size: 32px;
     font-weight: 400;
     color: #BCF0EC;
     padding-top: 50px;
 }

 .footeritemPart a {
     font-size: 24px;
     font-weight: 400;
     color: #28B0A6;
     background-color: #fff;
     padding: 20px 35px;
     border-radius: 40px;
     margin-top: 80px;
     transition: .4s;
 }

 .footeritem:hover {
     -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
 }

 .footeritemPart a:hover {
     color: #fff;
     background-color: #28B0A6;
 }

 /* footer part end */


 /* adventure part start */
 #adventurePart {
     padding-bottom: 135px;
     position: relative;
 }

 .dotImg {
     position: absolute;
     padding-left: 255px;
     top: -25px;
     z-index: -1;
 }

 .adventureImg {
     height: 624px;
     width: 376px;
 }

 .adventureImg img {
     height: 100%;
     width: 100%;
 }

 .adventure2nd {
     padding-left: 80px;
 }

 .adventure3rd {
     padding-top: 30px;
 }

 .adventure4th {
     padding-left: 50px;
     padding-top: 40px;
 }


 .adventure4th h3 {

     font-size: 24px;
     font-weight: 400;
     color: #28B0A6;
 }

 .adventure4th h1 {

     font-size: 48px;
     font-weight: 600;
     color: #1D293F;
     padding-top: 30px;

 }

 .adventure4th p {

     font-size: 24px;
     font-weight: 400;
     color: #546179;
     line-height: 35px;
     padding-right: 11px;
     padding-top: 50px;

 }

 .adventureflex {
     display: flex;
     padding-left: 50px;
     padding-top: 100px;

 }

 .adventureFlex1 {
     transition: .4s;
     -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);

 }

 .adventureFlex1 input {
     padding: 20px 125px 20px 20px;
     background: transparent;
     border: none;

 }

 .adventureFlex1 input::placeholder {
     color: #99A3AD;
 }

 .adventureFlex2 a {
     padding: 21px;
     color: white;
     background-color: #28B0A6;
     transition: .4s;

 }

 .adventureflex:hover .adventureFlex2 a {
     -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
     color: #28B0A6;
     background-color: #fff;
 }

 .newPart {
     padding-left: 50px;
     padding-top: 50px;
 }

 .newPart h3 {
     color: #546179;
     font-size: 16px;
     font-weight: 400;
 }

 /* adventure part end */

 /* full image part start */
 #fullImg {
     padding-bottom: 130px;
 }

 .fullImgPart img {
     width: 100%;
 }

 /* full image part end */

 /* support part start  */
 #supportPart {
     padding-bottom: 140px;
     position: relative;
 }

 .supportWritePart h3 {
     font-size: 40px;
     font-weight: 700;
     color: #000000;
 }

 .supportWritePart p {
     font-size: 24px;
     font-weight: 400;
     color: #546179;
     padding-top: 30px;
     padding-bottom: 80px;
 }

 .supportItem {
     padding-top: 70px;
     padding-bottom: 55px;
     background-color: #28B0A6;
     border-radius: 10px;
 }

 .supportItem i {
     font-size: 30px;
     padding: 30px;
     border-radius: 50%;
     background-color: #fff;
     color: #BCF0EC;
 }

 .supportItem h5 {
     font-size: 32px;
     color: white;
     font-weight: 500;
     padding-top: 54px;
 }



 .supportItem h4 {
     color: #BCF0EC;
     font-size: 24px;
     font-weight: 400;
     margin-top: 40px;
     padding: 0 102px;
     line-height: 35px;
 }

 .supportItem h5 {

     color: white;
     font-size: 32px;

     font-weight: 500;
     padding-top: 54px;
 }

 .supportItem h3 {
     color: white;
     font-size: 24px;
     font-weight: 500;
     padding-top: 54px;
 }

 .supportItem p {
     color: white;
     font-size: 24px;
     font-weight: 500;
     padding-top: 20px;
 }

 .supportItem2 {
     padding-top: 70px;
     padding-bottom: 55px;
     background-color: #1D293F;
     border-radius: 10px;
 }


 .supportItem2 i {
     font-size: 30px;
     padding: 30px;
     border-radius: 50%;
     background-color: #fff;
     color: #1D293F;
 }

 .supportItem2 h5 {
     font-size: 32px;
     color: white;
     font-weight: 500;
     padding-top: 54px;
 }



 .supportItem2 h4 {
     color: #99A3AD;
     font-size: 24px;
     font-weight: 400;
     margin-top: 40px;
     padding: 0 102px;
     line-height: 35px;
 }

 .supportItem2 h5 {

     color: white;
     font-size: 32px;

     font-weight: 500;
     padding-top: 54px;
 }

 .supportItem2 h3 {
     color: white;
     font-size: 24px;
     font-weight: 500;
     padding-top: 54px;
 }

 .supportItem2 p {
     color: white;
     font-size: 24px;
     font-weight: 500;
     padding-top: 20px;
 }
 .dot2nd{
    position: absolute;
    padding-left: 294px;
    top:200px;
    z-index: -1;
 }

 /* support part end */

/* .about part start  */
#aboutPart{
    padding-bottom: 300px;
}
.aboutflex1st{
    display: flex;
}
.aboutflex1{
    display: flex;
}
.aboutflex1 i{
    padding: 10px;
    border: 3px solid #1D293F;
    border-radius: 50%;
    color: #1D293F;
    font-size: 15px;
}
.aboutflex3 h4{
    color: #1D293F;
    font-size: 24px;
    font-weight: 600;
    padding-top: 12px;
    padding-left: 20px;
}

.aboutflex4 h3{
    color: #546179;
    font-size: 24px;
    font-weight: 400;
    padding-top: 12px;
    padding-left: 60px;
}
.aboutflex5{
    display: flex;
    padding-top: 18px;
}
.aboutflex6 p{
    color: #212529;
    font-size: 24px;
    font-weight: 400;
    padding-left: 20px;
}
.aboutflex7 h3{
    color: #212529;
    font-size: 24px;
    font-weight: 400;
    padding-left: 15px;
}
.dag1{
   margin-top: 40px;
   height: 2px;
   width: 100%;
   background-color: #E9ECEF;
}





/* .about part end  */



